.eventInfoBase {
  height:  100%;
  display: flex;
}

.eventName {
  font-size: 30px;
  color: #212529;
}
.eventOtherInfo {
  font-size: 20px;
  color: #212529;
}

.eventQuota {
  font-size: 10px;
  color: #212529;
}


.eventImage {
  height: 400px;
  width: 300px;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.buyButton {
  width: 300px;
  border-radius: 8px;
  background-color: #00A36C;
  border: 0;
  color:#ffffff;
  padding: 10px 5px;
}

.infoRightBox {
  height: 100%;
  width: 100%;
  background: #fff9f9;
}

.infoBox {
  height: 100%;
  width: 100%;
  background: #fff9f9;
  padding: 20px;
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.maps {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  background: #fff9f9;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.eventInfo {
  display: flex;
  font-size: 20px;
  line-height: 0.8;
  color: #000000;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.eventSummary {
  font-size: 15px;
  color: #212529;
}

.ratingWrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color:#ffffff ;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}

.rating{
  font-size: 20px;
  color: #00A36C;
}

.commentWrapper {
  box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 10px;
}

.commentsHeader{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 12px;
  
}
.commentButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #00A36C;
  border: 0;
  color:#ffffff;
  padding: 5px;
}

.commentHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.commentsTitle {
  font-size: 40px;
  font-weight: 500;
  color: #00A36C;
}
.icon {
  color: #ffffff;
  width: 20px;
  margin-right: 5px;
}
.updateButton {
  border-radius: 8px;
  width: 80px;
  text-align: center;
  background-color: #00A36C;
  border: 0;
  color:#ffffff;
  padding: 5px;
  text-decoration: none;
}
.updateButtonContainer {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}