.datePickerBase{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.react-datepicker__input-container input{
  width: 300px;
  font-size: 15px;
  padding: 5px 10px;
}


.label{
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  color: #00A36C;
  
}