
.submitButton{
  font-size: 20px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #00A36C;
  border: 0;
  color:#ffffff;
  padding: 5px;
  width: 100px;
  height: fit-content;
}

.donateFormBase{
  display: flex;
  flex-direction: row;
}

